*.iml
.gradle
/build
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin
/.vscode
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/outputs
*.jks
*.keystore
release-signing.properties